
<div class="flex justify-center">
    <div class="bg-white rounded-lg shadow-lg p-8 w-96 justify-center ">
        <div class="flex items-center mb-4">
            <h2 class="text-lg font-semibold">Profile</h2>  
        </div>  
        <p class="text-sm text-gray-600 mb-6">{{Offer.profile}}</p>
        <div class="flex items-center mb-4">
            <h2 class="text-lg font-semibold">Ville</h2>  
        </div>  
        <p class="text-sm text-gray-600 mb-6">{{Offer.ville}}</p>
        <div class="flex items-center mb-4">
            <h2 class="text-lg font-semibold">niveau</h2>  
        </div>  
        <p class="text-sm text-gray-600 mb-6">{{Offer.niveau}}</p>

        <div class="flex items-center mb-4">
            <h2 class="text-lg font-semibold">recruteur</h2>  
        </div>  
        <p class="text-sm text-gray-600 mb-6">{{Offer.recruteur.email}}</p>

        <div class="mb-6">
            <label for="support" class="font-semibold mb-2 block">Description)</label>
            <p id="support"  class="border rounded px-4 py-2 w-full h-24">{{Offer.description}}</p>
        </div>

        <!-- component -->
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />

<!-- This is an example component -->
<div class="max-w-2xl mx-auto">

	<div class="flex items-center justify-center w-full p-3">
        
        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload cv </span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" (change)="onFileSelected($event)" type="file" class="hidden" />
        </label>
    </div> 

</div>

        
        <div class="flex justify-between items-center">
            <button  class="border rounded px-4 py-2 text-gray-600">Cancel</button>
            <button (click)="setCHerchour()" class="bg-blue-500 text-white rounded px-4 py-2">Aplly</button>
        </div>
    </div>
</div>